body {
    font-family: 'Open Sans', sans-serif;
}


/*NAVBAR*/

#navbar {
    min-height: 12vh;
    vertical-align: middle;
}

.title a img {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 10vh;
    margin-left: 5vw;
    float: left;
}

.links {
    text-transform: uppercase;
    color: #b2b6ba;
    float: right;
    font-size: 16px;
}

#menu-btn {
    color: black;
    float: right;
    font-size: 32px;
    line-height: 12vh;
}

.links a {
    color: #b2b6ba;
    margin-right: 16px;
    line-height: 12vh;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.links a:hover {
    color: rgb(0, 102, 255);
}

.current {
    color: rgb(0, 102, 255) !important;
}


/*DRAWER*/

#drawer {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 100%;
    width: 65vw;
    height: 100%;
    background: white;
    overflow: hidden;
    transition: transform 0.3s;
    will-change: transform;
}

#drawer a {
    text-transform: uppercase;
    color: #b2b6ba;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration: none;
    display: list-item;
    padding-left: 32px;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #b2b6ba;
    font-family: 'Raleway', sans-serif;
}

#drawer a:hover {
    color: rgb(0, 102, 255);
}

#drawer.visible {
    transform: translateX(-65vw);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
}

#close {
    font-size: 28px;
    padding: 12px;
    cursor: pointer;
    padding-left: 32px;
    font-family: 'Raleway', sans-serif;
}


/*HEADER*/

#main-header {
    min-height: 40vh;
    background-image: url('plane.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#main-header-title {
    text-align: center;
    line-height: 45vh;
    vertical-align: middle;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
}


/*CONTENT*/

#main-content {
    min-height: 100vh;
}

.content-section p {
    font-size: 18px;
}


/*SIDE CONTENT*/

#side-content {
    min-height: 100vh;
}

#side-content #important-buttons {
    text-align: center;
    padding: 32px;
}


/*NEWS*/

.news-title {
    font-weight: bold;
    font-size: 20px;
}

.news-details {
    color: gray;
}

.news-text {
    font-size: 16px;
    margin-bottom: 32px;
}
